name: Preview Deploy
on:
  pull_request:
    branches: master
jobs:
    sdtt:
      runs-on: ubuntu-latest
      name: Run Structured Data Tests
      steps:
          - uses: actions/checkout@master
          - run: mkdir -p output/
          - name: Use Node.js 12.x
            uses: actions/setup-node@v1
            with:
              node-version: 12.x
          - name: Run Structured Data Test
            run: |
                 npm i structured-data-testing-tool -g
                 sdtt --url https://hardcore-spence-470e20.netlify.app/ --schemas "jsonld:Article" -p Twitter -p Facebook --presets SocialMedia -i
